.error-screen-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.error-screen-content {
  max-width: 75%;
  width: 100%;
  margin: auto;
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .error-screen-content {
    max-width: 50%;
  }
}

.error-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
